<?xml version="1.0" encoding="utf-8"?>
<!-- IIS / Azure App Service: default maxAllowedContentLength is ~30MB but can be lower; 413 on uploads otherwise -->
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
